h2 {
    text-align: start;
    margin: 48px 0 48px 40px;
}

.sectionQuestao {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 6%;
    margin-left: 10%;
    text-align: start !important;
}

.inputs {
    display: flex !important;
    flex-direction: column !important;
    margin-right: 12%;
}

.formQuestao {
    display: flex !important;
    flex-direction: row !important;
    text-align: start !important;
}

.checkboxMultiplaEscolha {
    margin: 14px 0 16px 0;
}

.alternativas {
    display: flex;
    flex-direction: column;
}

.divCadastroQuestao {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #E7EBF1;
}

.buttonCadastro {
    width: 440px;
    height: 56px;
    background-color: #1351B4 !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

h1 {
    text-align: left;  
    font-size: 36px !important;
}

.inputCadastro {
    width: 440px;
    height: 56px;
    margin-bottom: 16px;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
}

.selectCadastro {
    width: 440px;
    height: 56px;
    margin-bottom: 16px;
    border-radius: 6px !important;
    border: 1px solid #CCCCCC !important;
    line-height: 2.3em !important;
}

.selectCadastro .menu {
    background-color: white !important;
}

i {
    line-height: 2.3em !important;
}