.divAluno {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 6%;
    margin-left: 10%;
}

.buttonFazerProva {
    width: 440px;
    height: 56px;
    background-color: #1351B4 !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 16px !important;
    margin-top: 32px !important;
}

.titleAluno {
    text-align: left;  
    font-size: 36px !important;
    /* margin: 31px 0 32px 190px !important; */
}

.ilustracaoAluno {
    width: 464px;
    height: 464px;
    flex: 1;
    margin-top: 88px;
    margin-right: 44px;
}

.div {
    display: flex;
    flex-direction: row;
    height: 90vh;
    background-color: #E7EBF1;
}

ul {
    list-style-type: none;
    text-align: start;
    padding-left: 0;
}

p {
    text-align: start;
}

.botaoProva {
    display: flex;
}