.resp {
    width: 100% !important;
    margin-top: 16px;
}

.buttonFinalizarProva {
    background-color: #1351B4 !important;
    color: #fff !important;
    margin: 3% 0 !important;
    width: 20%;
}

body {
    background-color: #E7EBF1 !important;
}

.titleProva {
    margin: 48px 0 32px 13.5% !important;
}

.buttonOk {
    background-color: #1351B4 !important;
    color: #fff !important;
    width: 100px;
}