.title {
    margin: 80px 0 0 48px;
}

.tableCadastrados {
    width: 42% !important;
    margin: 16px 0 0 48px !important;
}

.divSubtitle {
    margin: 32px 0 0 48px;
    display: flex;
    flex-direction: row;
}

.subtitle2 {
    margin-top: 0;
    margin-left: 28%;
}

.tableAlunosProva {
    width: 200% !important;
    margin-left: 0 !important;
}

.tableHeader {
    background-color: #1351B4;
    color: white;
}